<div class="card">
  <div class="card__body">
    <%= link_to "タイトル【#{task.title}】", task_path(task), class: :card__title%>
    <p class="card__summary">
      <%= "完了予定日【#{task.scheduled_date}】" %>
    </p>
    <p class="card__summary">
          <%= "ステータス【#{task.status.name}】" %>
    </p>
        <p class="card__summary">
          <%= "フラグ【#{task.flag.name}】" %>
    </p>
    <%= link_to "タスク実施者 #{task.user.name}", user_path(task.user), class: :card__user %>
  </div>
  <% if task.completion_date.present? %>
    <div class='mission-complete'>
    <span>Mission Complete!!</span>
    </div>
  <% end %>
</div>